<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.tctmy363839"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <application
        android:name="com.tctmy363839.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name="com.tctmy363839.ui.component.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.tctmy363839.ui.component.news.NewsListActivity"/>
        <activity android:name="com.tctmy363839.ui.component.details.DetailsActivity"/>
        <activity android:name=".ui.component.main.MainActivity"/>
        <activity android:name=".ui.component.authentication.AuthenticationActivity"/>
    </application>

</manifest>